body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  background-color: #2f4051;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
}

header {
  display: block;
}

.container {
  background-color: #df691a;
  width: 100%;
  height: 128px;
  margin: 0 auto;
  padding: 0 40px 0 80px;
}

.head a {
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  height: 64px;
  align-items: center;
  font-size: 14px;
}

nav a {
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 64px;
  opacity: .87;
  cursor: pointer;
}

.head {
  height: 64px;
  align-items: center;
  display: flex;
  line-height: 1;
}

.container__menu {
  margin-left: -24px;
}

.button {
  position: absolute;
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin: 8px 12px;
  top: 0;
  left: 0;
}

#sidebar1 {
  padding: 16px 0;
}

.box-shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.list1 {
  display: inline-block;
  width: 200px;
  box-sizing: border-box;
  padding: 0 10px 10px 0;
}

.list1 li {
  padding-left: 16px;
  line-height: 22px;
}

.list1 li a {
  text-decoration-line: underline;
}

#content {
  display: flex;
}

#page__title h1 {
  display: inline-block;
  margin-left: 32px;
  font-size: 21px;
}

.main {
  display: inline-block;
  width: 100%;
}

.sort {
  height: 60px;
  padding: 0 32px;
  border-bottom: 1px solid #4e5d6c;
  margin-bottom: 30px;
  font-weight: 500;
}

.list__film li {
  display: inline-block;
  padding: 4px;
}

.list__film-item {
  background-color: #234;
  height: 280px;
  min-width: 200px;
  border-radius: 2px;
}

.nav_des {
  padding-left: 40px;
  font-size: 16px;
}

.nav_des a {
  padding: 0 10px;
}

.nav_des a:first-child {
  color: gray;
}

#description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px;
  color: #9e9e9e;
  background-color: #424242;
}

.information {
  padding-left: 40px;
}

.language {
  padding-right: 40px;
}

.color {
  cursor: pointer;
}
